
@import '~jquery-ui/themes/base/all.css';

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    max-width:100%;
    font-family: 'Poppins', sans-serif;
    font-size:1.6rem;
    font-weight: 400;
    color: $color-font;
}