
//colors
$color-primary : #00a8ff;
$color-white: #fff;
$color-grey-light:#f1f2f6;
$color-grey:#7f8c8d;
$color-orange:#f39c12;
$color-success:#2ecc71;

//border radius
$border-radius: 1.5rem;

//font
$color-font: #34495e;

//background gradient
$rgba:rgba(0, 168, 255,1.0);